name: CI/CD

on: [push]

env:
  PYTHONDONTWRITEBYTECODE: 1

jobs:
  tests:
    name: Python ${{ matrix.python-version }}

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install tox tox-gh-actions poetry==1.4.2
      - run: tox

  flake8:
    name: Flake8

    runs-on: ubuntu-latest

    container:
      image: python:3.11-bullseye

    steps:
      - uses: actions/checkout@v2
      - run: pip install tox poetry==1.4.2
      - run: tox -e flake8

  coverage:
    name: Coverage

    runs-on: ubuntu-latest

    container:
      image: python:3.11-bullseye

    steps:
      - uses: actions/checkout@v2
      - run: pip install tox poetry==1.4.2
      - run: tox -e coverage
      - uses: "codecov/codecov-action@v3"
        with:
          fail_ci_if_error: true
